In [1]:
import pandas as pd

data_dir = '/Users/davidebonaglia/Dropbox/Projects UNU/Excellent Science/'
H2020BiblioData = data_dir + 'H2020BiblioData&Indicators_ExcelScie_ResEuro_ProjIDs_v1.3.1.xlsx'

H2020BiblioData = pd.read_excel(H2020BiblioData)
H2020BiblioData

,Digital Object Identifier (DOI),Funding Agency and Grant Number,Funding Award Numbers,Funding Organization,Funding Organization (w/ awd. num.),Funding Text,Open Access Indicator,ORCID Identifier (Open Researcher and Contributor ID)::ID,Author Address (Organization Only),Countries/Regions (Cleaned),...,programme_PROJ_ID_10,start_date_PROJ_ID_10,end_date_PROJ_ID_10,programmes_PROJ_ID_10,mv_CD_ACTION_TYPE_PROJ_ID_10,mv_CD_DG_PROJ_ID_10,mv_CD_THEMA_PROJ_ID_10,mv_CD_TOPIC_PROJ_ID_10,CD_PROJECT_CNT,CD_PROJECT_FRAC
0,10.1001/jama.2016.0312,0,0,0,0,0,0,0000-0003-0747-4471,Hartford Hosp|Radboud Univ Nijmegen,Netherlands|USA,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0
1,10.1001/jama.2016.1975,EUNICE KENNEDY SHRIVER NATIONAL INSTITUTE OF C...,098395|102215|104150|104150/Z/14/Z|323195|G050...,CIHRCanadian Institutes of Health Research (CI...,CIHRCanadian Institutes of Health Research (CI...,0,"Green Submitted, Green Accepted, Green Publish...",0000-0001-5079-2374|0000-0001-5620-473X|0000-0...,Bispebjerg & Frederiksberg Univ Hosp|Charite|C...,Australia|Canada|China|Denmark|Finland|Germany...,...,0,1899-12-30,1899-12-30,0,0,0,0,0,2,0.5
2,10.1001/jama.2016.20644,European Union's Innovative Medicines Initiati...,115854,European Federation of Pharmaceutical Industri...,European Federation of Pharmaceutical Industri...,This trial was funded by grant 115854 from the...,"Green Submitted, Bronze",0000-0001-6324-6559|0000-0002-6501-5524|0000-0...,Janssen|Univ Oxford,Netherlands|UK,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0
3,10.1001/jama.2016.4218,European Union's Innovative Medicines Initiati...,115854,Crucell Holland|European Federation of Pharmac...,Crucell Holland|European Federation of Pharmac...,This trial was funded by the European Union's ...,Bronze,0000-0001-6324-6559|0000-0001-9827-9836|0000-0...,Bavarian Nord|Fred Hutchinson Canc Res Ctr|Oxf...,Germany|Netherlands|UK|USA,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0
4,10.1001/jama.2017.6895,European Union/European Federation of Pharmace...,115372|115736|116020,European Union/European Federation of Pharmace...,European Union/European Federation of Pharmace...,This work has received grant support from the ...,0,0000-0001-8008-9727|0000-0002-2612-1797,Maastricht Univ|Vrije Univ Amsterdam Med Ctr,Netherlands,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123112,10.7900/jot.2017jan19.2147,INSMI; NSFNational Science Foundation (NSF) [D...,669240|DMS-1362138,ERCEuropean Research Council (ERC)European Com...,ERCEuropean Research Council (ERC)European Com...,The first author was partially supported by a ...,0,0,Univ Bordeaux|Univ Roma Tor Vergata,France|Italy,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0
123113,10.7900/jot.20181apr19.2188,0,0,0,0,0,Green Submitted,0000-0002-8889-2618|0000-0003-2972-5251,Sapienza Univ Roma|Univ Roma Tor Vergata|Vande...,Italy|USA,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0
123114,10.7900/jot.2018jun13.2222,Simons - Foundation [346300]; Polish Governmen...,346300|3542/H2020/2016/2|H2020-MSCA-RISE-2015-...,Polish government|Polish Government MNiSW 2015...,[H2020-MSCA-RISE-2015-691246-QUANTUM DYNAMICS]...,The author was partially supported by the Simo...,0,0,Arizona State Univ,USA,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0
123115,10.7900/jot.2018mar08.2219,"Youth Innovation Promotion Association, CAS [1...",11871127|11871303|CUP E83C18000100006|QUEST 66...,ERC Advanced GrantEuropean Research Council (E...,ERC Advanced GrantEuropean Research Council (E...,We would like to thank Yemon Choi for letting ...,0,0000-0002-2471-2614,Chinese Acad Sci|Sapienza Univ Roma|Univ Chine...,China|Italy,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0
123116,10.7900/jot.2020feb06.2268,European Union's Horizon 2020 research and inn...,844451,European Union's Horizon 2020 research and inn...,European Union's Horizon 2020 research and inn...,The author would like to thank the anonymous r...,0,0,Univ Reading,UK,...,0,1899-12-30,1899-12-30,0,0,0,0,0,1,1.0

In [2]:
#######################################################################################################
#CD_PROJECT_ID_01

#xx = list(H2020BiblioData.columns.values)

In [3]:
#filter out CD_PROJECT_ID_01 and order the columns
H2020BiblioData2 = H2020BiblioData[[' Digital Object Identifier (DOI)', 'Publication Year', 
                                    'CD_PROJECT_ID_01', 'programme_PROJ_ID_01', 'programmes_PROJ_ID_01', '_mv_CD_ACTION_TYPE_PROJ_ID_01',
                                    'start_date_PROJ_ID_01', 'end_date_PROJ_ID_01',
                                    ' Funding Agency and Grant Number', 'Research Area', 'Interdisciplinary', 
                                    'Document Type', 'Times Cited', 'Field Expected Citations', 'Field Normalized Citation Impact', 
                                    'Percentile in Subject Area', 'Top 1%',  ' Open Access Indicator']]

#rename columns
H2020BiblioData2 = H2020BiblioData2.rename(columns={' Digital Object Identifier (DOI)': 'publication',
                                                    'Publication Year': 'publn_year',
                                                    'CD_PROJECT_ID_01' : 'project_id',
                                                    'programme_PROJ_ID_01': 'progr_proj_id',
                                                    '_mv_CD_ACTION_TYPE_PROJ_ID_01': 'action_type_proj_id',
                                                    'start_date_PROJ_ID_01' : 'starting_date',
                                                    'end_date_PROJ_ID_01' : 'ending_date',
                                                    ' Funding Agency and Grant Number': 'fund_agency',
                                                    'Research Area': 'research_areas',
                                                    'Document Type': 'document_type',
                                                    'Times Cited': 'times_cited',
                                                    'Field Expected Citations' : 'field_expected_citations',
                                                    'Field Normalized Citation Impact': 'field_normalized_cit_impact',
                                                    'Top 1%': 'top_1',
                                                    ' Open Access Indicator': 'open_access',
                                                    'Percentile in Subject Area':'perc_subj_area'})

#select only the articles and proceeding papers
H2020BiblioData2 = H2020BiblioData2.loc[(H2020BiblioData2.document_type == 'Article') |
                                        (H2020BiblioData2.document_type == 'Proceedings Paper')]

H2020BiblioData2 = H2020BiblioData2.sort_values(by=['publication', 'publn_year'], ascending=True)

H2020BiblioData2

,publication,publn_year,project_id,progr_proj_id,programmes_PROJ_ID_01,action_type_proj_id,starting_date,ending_date,fund_agency,research_areas,Interdisciplinary,document_type,times_cited,field_expected_citations,field_normalized_cit_impact,perc_subj_area,top_1,open_access
1,10.1001/jama.2016.1975,2016,633595,['H2020-SC1'],"{'3.1.1': 'Understanding health, wellbeing and...",RIA,2015-04-01,2019-03-31,EUNICE KENNEDY SHRIVER NATIONAL INSTITUTE OF C...,ENDOCRINOLOGY & METABOLISM,0,Article,125,19.79,6.3166,98.7451,0,"Green Submitted, Green Accepted, Green Publish..."
3,10.1001/jama.2016.4218,2016,115854,['H2020-SC1'],{'3.1.7': 'Innovative Medicines Initiative 2 (...,JTI-IMI2-RIA,2014-12-01,2021-11-30,European Union's Innovative Medicines Initiati...,IMMUNOLOGY,0,Article,162,20.28,7.9891,99.1216,1,Bronze
5,10.1001/jama.2018.7028,2018,726413,['H2020-ERC'],{'1.1': 'EXCELLENT SCIENCE - European Research...,ERC-COG,2017-06-01,2022-11-30,"Grant of Excellence, Icelandic Research Fund [...",PSYCHIATRY,0,Article,90,10.56,8.5238,99.3819,1,"Bronze, Green Published"
6,10.1001/jama.2019.3820,2019,648916,['H2020-ERC'],{'1.1': 'EXCELLENT SCIENCE - European Research...,ERC-COG,2015-09-01,2021-08-31,UK Medical Research CouncilUK Research & Innov...,OBSTETRICS & GYNECOLOGY,0,Article,134,5.00,26.7749,99.9851,1,"Green Published, Green Submitted, Bronze"
7,10.1001/jama.2020.10369,2020,668303,['H2020-SC1'],{'3.1.6': 'Health care provision and integrate...,RIA,2016-01-01,2021-06-30,UK National Institute for Health Research (NIH...,"MEDICINE, GENERAL & INTERNAL",0,Article,604,33.25,18.1645,99.2156,1,"Bronze, Green Published, Green Accepted"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123112,10.7900/jot.2017jan19.2147,2018,669240,['H2020-ERC'],{'1.1': 'EXCELLENT SCIENCE - European Research...,ERC-ADG,2015-12-01,2021-11-30,INSMI; NSFNational Science Foundation (NSF) [D...,MATHEMATICS,0,Article,3,3.24,0.9266,63.6125,0,0
123113,10.7900/jot.20181apr19.2188,2019,669240,['H2020-ERC'],{'1.1': 'EXCELLENT SCIENCE - European Research...,ERC-ADG,2015-12-01,2021-11-30,0,MATHEMATICS,0,Article,3,2.49,1.2046,71.0535,0,Green Submitted
123114,10.7900/jot.2018jun13.2222,2019,691246,['H2020-MSCA'],{'1.3.3': 'Stimulating innovation by means of ...,MSCA-RISE,2016-01-01,2019-12-31,Simons - Foundation [346300]; Polish Governmen...,MATHEMATICS,0,Article,2,2.49,0.8031,57.9087,0,0
123115,10.7900/jot.2018mar08.2219,2019,669240,['H2020-ERC'],{'1.1': 'EXCELLENT SCIENCE - European Research...,ERC-ADG,2015-12-01,2021-11-30,"Youth Innovation Promotion Association, CAS [1...",MATHEMATICS,0,Article,1,2.49,0.4015,36.0206,0,0
123116,10.7900/jot.2020feb06.2268,2021,844451,['H2020-MSCA'],{'1.3.2': 'Nurturing excellence by means of cr...,MSCA-IF-EF-ST,2019-06-01,2021-05-31,European Union's Horizon 2020 research and inn...,MATHEMATICS,0,Article,0,0.41,0.0000,0.0030,0,0

In [4]:
#######################################################################################################
#CD_PROJECT_ID_01 PERIOD

In [4]:
import numpy as np
import datetime

period = H2020BiblioData2[['project_id', 'starting_date', 'ending_date']]
period = period.sort_values(by=['project_id'], ascending=True)
period = period.drop_duplicates()


period['period_in_days'] = ((period.ending_date - period.starting_date)/np.timedelta64(1, 'D'))
period['period_in_days'] = period['period_in_days'].astype(int)

period['period_in_months'] = ((period.ending_date - period.starting_date)/np.timedelta64(1, 'M'))
period['period_in_months'] = period['period_in_months'].astype(int)

period['starting_date'] =  pd.to_datetime(period['starting_date'], format='%Y-%m-%d')
period['starting_date'] = period['starting_date'].dt.strftime('%Y-%m-%d')

period['ending_date'] =  pd.to_datetime(period['ending_date'], format='%Y-%m-%d')
period['ending_date'] = period['ending_date'].dt.strftime('%Y-%m-%d')

period

        project_id starting_date ending_date  period_in_days  period_in_months
19280       115797    2015-11-01  2023-10-31            2921                95
94475       115842    2015-03-01  2019-02-28            1460                47
42285       115843    2015-02-01  2018-01-31            1095                35
101599      115847    2014-12-01  2020-11-30            2191                71
46189       115848    2015-02-01  2017-04-30             819                26
...            ...           ...         ...             ...               ...
82911    101016448    2021-01-01  2023-12-31            1094                35
66521    101016985    2021-01-01  2023-12-31            1094                35
7336     101017171    2021-01-01  2023-12-31            1094                35
83702    101017226    2021-01-01  2023-12-31            1094                35
2468     101023615    2021-04-01  2023-03-31             729                23

[12756 rows x 5 columns]

In [6]:
#######################################################################################################
#Number of Publications

In [5]:
n_publications = H2020BiblioData2.groupby(['project_id'])['publication'].count().reset_index()
n_publications = n_publications.rename(columns={'publication': 'n_publications'})
n_publications = n_publications.sort_values(by=['project_id'], ascending=True)
n_publications

       project_id  n_publications
0          115797              79
1          115842               4
2          115843              13
3          115847               2
4          115848               1
...           ...             ...
12751   101016448               1
12752   101016985               1
12753   101017171               4
12754   101017226               3
12755   101023615               1

[12756 rows x 2 columns]

In [6]:
ex = n_publications.loc[n_publications.project_id == 633053]
ex

    project_id  n_publications
30      633053            5662

In [8]:
#######################################################################################################
#OPEN ACCESS

#open_access = H2020BiblioData['open_access'].value_counts().reset_index()

In [7]:
open_access = H2020BiblioData2[['publication', 'project_id', 'open_access']]
open_access = open_access.sort_values(by=['project_id'], ascending=True)
open_access

,publication,project_id,open_access
19280,10.1016/j.clim.2018.07.001,115797,"Green Published, hybrid"
91834,10.1111/pedi.12816,115797,"Green Submitted, Green Published, hybrid"
108578,10.2337/dc16-1625,115797,Bronze
108575,10.2337/dbi19-0022,115797,"Green Published, Bronze"
91833,10.1111/pedi.12711,115797,"Green Published, Green Accepted, hybrid"
...,...,...,...
86429,10.1109/PERCOMWORKSHOPS51409.2021.9431063,101017171,Green Published
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,0
82889,10.1109/ACCESS.2021.3051940,101017226,gold
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,0
2468,10.1002/anie.202104682,101023615,"hybrid, Green Published"

In [8]:
import numpy as np

#clean open_access
#trim leading and trailing blank spaces
open_access['open_access_cleaned'] = open_access['open_access'].str.lstrip() 
open_access['open_access_cleaned'] = open_access['open_access_cleaned'].str.rstrip()

#put all strings in uppercase
open_access['open_access_cleaned'] = open_access['open_access_cleaned'].str.upper() 
#remove non-alphanumeric chars
open_access['open_access_cleaned'] = open_access['open_access_cleaned'].str.replace('\W', ' ') 
#remove double spaces
open_access['open_access_cleaned'] = open_access['open_access_cleaned'].replace(r'\s+', ' ', regex=True)

#get dummy from open_access_cleaned
open_access['open_access_dummy'] = np.where(((open_access.open_access_cleaned.str.contains("GOLD")) |
                                            (open_access.open_access_cleaned.str.contains("GREEN PUBLISHED"))), 1, 0)

open_access

<ipython-input-8-df605cd6c243>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  open_access['open_access_cleaned'] = open_access['open_access_cleaned'].str.replace('\W', ' ')

,publication,project_id,open_access,open_access_cleaned,open_access_dummy
19280,10.1016/j.clim.2018.07.001,115797,"Green Published, hybrid",GREEN PUBLISHED HYBRID,1
91834,10.1111/pedi.12816,115797,"Green Submitted, Green Published, hybrid",GREEN SUBMITTED GREEN PUBLISHED HYBRID,1
108578,10.2337/dc16-1625,115797,Bronze,BRONZE,0
108575,10.2337/dbi19-0022,115797,"Green Published, Bronze",GREEN PUBLISHED BRONZE,1
91833,10.1111/pedi.12711,115797,"Green Published, Green Accepted, hybrid",GREEN PUBLISHED GREEN ACCEPTED HYBRID,1
...,...,...,...,...,...
86429,10.1109/PERCOMWORKSHOPS51409.2021.9431063,101017171,Green Published,GREEN PUBLISHED,1
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,0,NaN,0
82889,10.1109/ACCESS.2021.3051940,101017226,gold,GOLD,1
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,0,NaN,0
2468,10.1002/anie.202104682,101023615,"hybrid, Green Published",HYBRID GREEN PUBLISHED,1

In [9]:
at_least_one_open_access = open_access.groupby(['project_id'])['open_access_dummy'].max().reset_index()
at_least_one_open_access = at_least_one_open_access.rename(columns={'open_access_dummy': 'at_least_one_publ_open_access'})
at_least_one_open_access = at_least_one_open_access.sort_values(by=['project_id'], ascending=True)
at_least_one_open_access

       project_id  at_least_one_publ_open_access
0          115797                              1
1          115842                              1
2          115843                              1
3          115847                              1
4          115848                              0
...           ...                            ...
12751   101016448                              1
12752   101016985                              1
12753   101017171                              1
12754   101017226                              1
12755   101023615                              1

[12756 rows x 2 columns]

In [12]:
#######################################################################################################
#Funding Organization

In [10]:
fund_agency = H2020BiblioData2[['publication', 'project_id', 'fund_agency']]
fund_agency = fund_agency.loc[fund_agency.fund_agency != 0]

fund_agency = fund_agency.sort_values(by=['project_id'], ascending=True)
fund_agency

,publication,project_id,fund_agency
102015,10.1186/s13023-018-0970-8,115797,Federal Ministry of Education and Research wit...
99229,10.1159/000496034,115797,Horizon 2020 Program T2Dsystems [GA667191]; In...
51903,10.1038/s41598-017-15417-2,115797,JDRFJuvenile Diabetes Research Foundation [3-S...
108566,10.2337/db20-0421,115797,"IMI2-JU [115797, 945268]; European UnionEurope..."
90386,10.1111/dom.14104,115797,European Federation of Pharmaceutical Industri...
...,...,...,...
86428,10.1109/PERCOMWORKSHOPS51409.2021.9431059,101017171,ECEuropean CommissionEuropean Commission Joint...
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,European CommissionEuropean CommissionEuropean...
82889,10.1109/ACCESS.2021.3051940,101017226,European Commission through the project 6G Bri...
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,European CommissionEuropean CommissionEuropean...
2468,10.1002/anie.202104682,101023615,Lilly Research Award Program; China Scholarshi...

In [11]:
#clean fund_agency

#trim leading and trailing blank spaces
fund_agency['fund_agency_cleaned'] = fund_agency['fund_agency'].str.lstrip() 
fund_agency['fund_agency_cleaned'] = fund_agency['fund_agency_cleaned'].str.rstrip()
#put all strings in uppercase
fund_agency['fund_agency_cleaned'] = fund_agency['fund_agency_cleaned'].str.upper() 
#remove non-alphanumeric chars
fund_agency['fund_agency_cleaned'] = fund_agency['fund_agency_cleaned'].str.replace('\W', ' ') 
#remove numbers
fund_agency['fund_agency_cleaned'] = fund_agency['fund_agency_cleaned'].str.replace('\d+', '')
#remove double spaces
fund_agency['fund_agency_cleaned'] = fund_agency['fund_agency_cleaned'].replace(r'\s+', ' ', regex=True)

fund_agency

<ipython-input-11-19e22b679dab>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  fund_agency['fund_agency_cleaned'] = fund_agency['fund_agency_cleaned'].str.replace('\W', ' ')
<ipython-input-11-19e22b679dab>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  fund_agency['fund_agency_cleaned'] = fund_agency['fund_agency_cleaned'].str.replace('\d+', '')

,publication,project_id,fund_agency,fund_agency_cleaned
102015,10.1186/s13023-018-0970-8,115797,Federal Ministry of Education and Research wit...,FEDERAL MINISTRY OF EDUCATION AND RESEARCH WIT...
99229,10.1159/000496034,115797,Horizon 2020 Program T2Dsystems [GA667191]; In...,HORIZON PROGRAM TDSYSTEMS GA INNOVATIVE MEDICI...
51903,10.1038/s41598-017-15417-2,115797,JDRFJuvenile Diabetes Research Foundation [3-S...,JDRFJUVENILE DIABETES RESEARCH FOUNDATION SRA ...
108566,10.2337/db20-0421,115797,"IMI2-JU [115797, 945268]; European UnionEurope...",IMI JU EUROPEAN UNIONEUROPEAN COMMISSION EUROP...
90386,10.1111/dom.14104,115797,European Federation of Pharmaceutical Industri...,EUROPEAN FEDERATION OF PHARMACEUTICAL INDUSTRI...
...,...,...,...,...
86428,10.1109/PERCOMWORKSHOPS51409.2021.9431059,101017171,ECEuropean CommissionEuropean Commission Joint...,ECEUROPEAN COMMISSIONEUROPEAN COMMISSION JOINT...
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,European CommissionEuropean CommissionEuropean...,EUROPEAN COMMISSIONEUROPEAN COMMISSIONEUROPEAN...
82889,10.1109/ACCESS.2021.3051940,101017226,European Commission through the project 6G Bri...,EUROPEAN COMMISSION THROUGH THE PROJECT G BRIN...
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,European CommissionEuropean CommissionEuropean...,EUROPEAN COMMISSIONEUROPEAN COMMISSIONEUROPEAN...
2468,10.1002/anie.202104682,101023615,Lilly Research Award Program; China Scholarshi...,LILLY RESEARCH AWARD PROGRAM CHINA SCHOLARSHIP...

In [12]:
#find main categories of funding agency based on fund_agency_cleaned's string

#University
fund_agency['fund_agency_University'] = np.where(((fund_agency.fund_agency_cleaned.str.contains("UNIVERSITY")) |
                                                    (fund_agency.fund_agency_cleaned.str.contains("SCHOOL")) |
                                                    (fund_agency.fund_agency_cleaned.str.contains("DOCTORAL")) |
                                                    (fund_agency.fund_agency_cleaned.str.contains("ACADEMY")) |
                                                    (fund_agency.fund_agency_cleaned.str.contains("LEUVEN")) |
                                                    (fund_agency.fund_agency_cleaned.str.contains("COLLEGE"))) , 1, 0)

#Ministry
fund_agency['fund_agency_Ministry'] = np.where(((fund_agency.fund_agency_cleaned.str.contains("MINISTRY")) |
                                            (fund_agency.fund_agency_cleaned.str.contains("MINISTERE")) |
                                            (fund_agency.fund_agency_cleaned.str.contains("MINISTERIO")) |
                                            (fund_agency.fund_agency_cleaned.str.contains("MINISTRO"))) , 1, 0)

#Research Institute
fund_agency['fund_agency_Research_Institute'] = np.where(((fund_agency.fund_agency_cleaned.str.contains("RESEARCH COUNCIL")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("RESEARCH INSTITUTE")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("JOINT RESEARCH CENTRE")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("JOINT RESEARCH CENTER")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("RESEARCH FOUNDATION")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("RESEARCH DEVELOPMENT")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("RESEARCH AGENCY")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("RECHERCHE SCIENTIFIQUE")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("SCIENTIFIC RESEARCH")) |
                                                            (fund_agency.fund_agency_cleaned.str.contains("INSTITUTE"))) , 1, 0)

fund_agency['fund_agency_Others'] = np.where(((fund_agency.fund_agency_University == 0) &
                                                (fund_agency.fund_agency_Ministry == 0) &
                                                (fund_agency.fund_agency_Research_Institute == 0) &
                                                (fund_agency.fund_agency_cleaned.notna())), 1, 0)

fund_agency

,publication,project_id,fund_agency,fund_agency_cleaned,fund_agency_University,fund_agency_Ministry,fund_agency_Research_Institute,fund_agency_Others
102015,10.1186/s13023-018-0970-8,115797,Federal Ministry of Education and Research wit...,FEDERAL MINISTRY OF EDUCATION AND RESEARCH WIT...,0,1,1,0
99229,10.1159/000496034,115797,Horizon 2020 Program T2Dsystems [GA667191]; In...,HORIZON PROGRAM TDSYSTEMS GA INNOVATIVE MEDICI...,0,0,1,0
51903,10.1038/s41598-017-15417-2,115797,JDRFJuvenile Diabetes Research Foundation [3-S...,JDRFJUVENILE DIABETES RESEARCH FOUNDATION SRA ...,1,0,1,0
108566,10.2337/db20-0421,115797,"IMI2-JU [115797, 945268]; European UnionEurope...",IMI JU EUROPEAN UNIONEUROPEAN COMMISSION EUROP...,1,0,1,0
90386,10.1111/dom.14104,115797,European Federation of Pharmaceutical Industri...,EUROPEAN FEDERATION OF PHARMACEUTICAL INDUSTRI...,0,0,1,0
...,...,...,...,...,...,...,...,...
86428,10.1109/PERCOMWORKSHOPS51409.2021.9431059,101017171,ECEuropean CommissionEuropean Commission Joint...,ECEUROPEAN COMMISSIONEUROPEAN COMMISSION JOINT...,0,1,1,0
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,European CommissionEuropean CommissionEuropean...,EUROPEAN COMMISSIONEUROPEAN COMMISSIONEUROPEAN...,0,0,1,0
82889,10.1109/ACCESS.2021.3051940,101017226,European Commission through the project 6G Bri...,EUROPEAN COMMISSION THROUGH THE PROJECT G BRIN...,1,0,0,0
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,European CommissionEuropean CommissionEuropean...,EUROPEAN COMMISSIONEUROPEAN COMMISSIONEUROPEAN...,0,0,1,0
2468,10.1002/anie.202104682,101023615,Lilly Research Award Program; China Scholarshi...,LILLY RESEARCH AWARD PROGRAM CHINA SCHOLARSHIP...,0,0,0,1

In [13]:
#Number of Funding Agencies

#to count how many agencies per proj-publ, we approximate counting the number of ";" in the string
fund_agency['n_agencies'] = fund_agency.fund_agency.str.count(';')
#however, since at the end of each string, ";" is missing, we have to add 1 to count the exact number of agencies
fund_agency['n_agencies'] = fund_agency['n_agencies'] + 1
#for the same reason, we have to add an 1 to those proj-publ in which n_org=0
fund_agency['n_agencies'] = np.where((fund_agency.n_agencies == 0), 1, fund_agency.n_agencies)
fund_agency['n_agencies'] = fund_agency['n_agencies'].astype(int)

fund_agency

,publication,project_id,fund_agency,fund_agency_cleaned,fund_agency_University,fund_agency_Ministry,fund_agency_Research_Institute,fund_agency_Others,n_agencies
102015,10.1186/s13023-018-0970-8,115797,Federal Ministry of Education and Research wit...,FEDERAL MINISTRY OF EDUCATION AND RESEARCH WIT...,0,1,1,0,8
99229,10.1159/000496034,115797,Horizon 2020 Program T2Dsystems [GA667191]; In...,HORIZON PROGRAM TDSYSTEMS GA INNOVATIVE MEDICI...,0,0,1,0,7
51903,10.1038/s41598-017-15417-2,115797,JDRFJuvenile Diabetes Research Foundation [3-S...,JDRFJUVENILE DIABETES RESEARCH FOUNDATION SRA ...,1,0,1,0,16
108566,10.2337/db20-0421,115797,"IMI2-JU [115797, 945268]; European UnionEurope...",IMI JU EUROPEAN UNIONEUROPEAN COMMISSION EUROP...,1,0,1,0,8
90386,10.1111/dom.14104,115797,European Federation of Pharmaceutical Industri...,EUROPEAN FEDERATION OF PHARMACEUTICAL INDUSTRI...,0,0,1,0,13
...,...,...,...,...,...,...,...,...,...
86428,10.1109/PERCOMWORKSHOPS51409.2021.9431059,101017171,ECEuropean CommissionEuropean Commission Joint...,ECEUROPEAN COMMISSIONEUROPEAN COMMISSION JOINT...,0,1,1,0,3
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,European CommissionEuropean CommissionEuropean...,EUROPEAN COMMISSIONEUROPEAN COMMISSIONEUROPEAN...,0,0,1,0,1
82889,10.1109/ACCESS.2021.3051940,101017226,European Commission through the project 6G Bri...,EUROPEAN COMMISSION THROUGH THE PROJECT G BRIN...,1,0,0,0,2
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,European CommissionEuropean CommissionEuropean...,EUROPEAN COMMISSIONEUROPEAN COMMISSIONEUROPEAN...,0,0,1,0,1
2468,10.1002/anie.202104682,101023615,Lilly Research Award Program; China Scholarshi...,LILLY RESEARCH AWARD PROGRAM CHINA SCHOLARSHIP...,0,0,0,1,3

In [14]:
at_least_one_fund_agency = fund_agency.groupby(['project_id']).agg({'fund_agency_University':'max',
                                                                    'fund_agency_Ministry':'max',
                                                                    'fund_agency_Research_Institute':'max',
                                                                    'fund_agency_Others':'max',
                                                                    'n_agencies':'sum'}).reset_index()

at_least_one_fund_agency = at_least_one_fund_agency.rename(columns={'fund_agency_University': 'at_least_one_fund_agency_University',
                                                                    'fund_agency_Ministry': 'at_least_one_fund_agency_Ministry',
                                                                    'fund_agency_Research_Institute': 'at_least_one_fund_agency_ResInst',
                                                                    'fund_agency_Others': 'at_least_one_fund_agency_Others'})

at_least_one_fund_agency = at_least_one_fund_agency.sort_values(by=['project_id'], ascending=True)
at_least_one_fund_agency

,project_id,at_least_one_fund_agency_University,at_least_one_fund_agency_Ministry,at_least_one_fund_agency_ResInst,at_least_one_fund_agency_Others,n_agencies
0,115797,1,1,1,1,780
1,115842,0,0,0,1,13
2,115843,1,1,1,1,50
3,115847,0,0,0,1,6
4,115854,1,0,1,1,135
...,...,...,...,...,...,...
12464,101016448,0,0,0,1,3
12465,101016985,1,0,1,0,4
12466,101017171,0,1,1,1,11
12467,101017226,1,0,1,0,4
12468,101023615,0,0,0,1,3

In [15]:
#######################################################################################################
#RESEARCH AREAS

#research_areas = H2020BiblioData['research_areas'].value_counts().reset_index()

In [16]:
research_areas = H2020BiblioData2[['publication', 'project_id', 'research_areas']]
research_areas = research_areas.sort_values(by=['project_id'], ascending=True)
research_areas

,publication,project_id,research_areas
19280,10.1016/j.clim.2018.07.001,115797,IMMUNOLOGY
91834,10.1111/pedi.12816,115797,PEDIATRICS; ENDOCRINOLOGY & METABOLISM
108578,10.2337/dc16-1625,115797,ENDOCRINOLOGY & METABOLISM
108575,10.2337/dbi19-0022,115797,ENDOCRINOLOGY & METABOLISM
91833,10.1111/pedi.12711,115797,PEDIATRICS; ENDOCRINOLOGY & METABOLISM
...,...,...,...
86429,10.1109/PERCOMWORKSHOPS51409.2021.9431063,101017171,"TELECOMMUNICATIONS; COMPUTER SCIENCE, INFORMAT..."
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,"TELECOMMUNICATIONS; COMPUTER SCIENCE, INFORMAT..."
82889,10.1109/ACCESS.2021.3051940,101017226,"TELECOMMUNICATIONS; COMPUTER SCIENCE, INFORMAT..."
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,"TELECOMMUNICATIONS; COMPUTER SCIENCE, INFORMAT..."
2468,10.1002/anie.202104682,101023615,"CHEMISTRY, MULTIDISCIPLINARY"

In [17]:
#Biology
research_areas['research_area_Biology'] = np.where(((research_areas.research_areas.str.contains("Biology")) |
                                                    (research_areas.research_areas.str.contains("CELL BIOLOGY")) |
                                                    (research_areas.research_areas.str.contains("Microbiology"))) , 1, 0)

#GEOSCIENCES
research_areas['research_area_GeoScience'] = np.where(((research_areas.research_areas.str.contains("GEOSCIENCES")) |
                                                    (research_areas.research_areas.str.contains("Geography")) |
                                                    (research_areas.research_areas.str.contains("Earth Science"))) , 1, 0)

#Physics
research_areas['research_area_Physics'] = np.where(((research_areas.research_areas.str.contains("Physics")) |
                                                    (research_areas.research_areas.str.contains("OPTICS")) |
                                                    (research_areas.research_areas.str.contains("THERMODYNAMICS"))) , 1, 0)

#Chemistry
research_areas['research_area_Chemistry'] = np.where(((research_areas.research_areas.str.contains("Chemistry")) |
                                                        (research_areas.research_areas.str.contains("Chemical")) |
                                                        (research_areas.research_areas.str.contains("Biochemistry"))) , 1, 0)

#ASTRONOMY & ASTROPHYSICS
research_areas['research_area_Astronomy&Astrophysics'] = np.where(((research_areas.research_areas.str.contains("Astronomy")) |
                                                                    (research_areas.research_areas.str.contains("Astrophysics"))) , 1, 0)

#METEOROLOGY 
research_areas['research_area_Meteorology'] = np.where(research_areas.research_areas.str.contains("Meteorology"), 1, 0) 

#NEUROSCIENCES 
research_areas['research_area_Neurosciences'] = np.where(research_areas.research_areas.str.contains("NEUROSCIENCES"), 1, 0)

#Nuclear Science
research_areas['research_area_NuclearScience'] = np.where(research_areas.research_areas.str.contains("Nuclear Science"), 1, 0)

#ENVIRONMENTAL SCIENCE
research_areas['research_area_EnvironmentalScience'] = np.where(research_areas.research_areas.str.contains("Environmental Science"), 1, 0)  

#Material science
research_areas['research_area_MaterialScience'] = np.where(research_areas.research_areas.str.contains("Material Science"), 1, 0) 

#MATHEMATICS
research_areas['research_area_Mathematics'] = np.where(research_areas.research_areas.str.contains("Mathematics"), 1, 0) 

#Economics
research_areas['research_area_Economics'] = np.where(research_areas.research_areas.str.contains("Economics"), 1, 0) 

#ENGINEERING
research_areas['research_area_Engineering'] = np.where(((research_areas.research_areas.str.contains("Engineering")) |
                                                        (research_areas.research_areas.str.contains("TELECOMMUNICATIONS"))) , 1, 0)

#Computer Science
research_areas['research_area_ComputerScience'] = np.where(((research_areas.research_areas.str.contains("Computer Science")) |
                                                            (research_areas.research_areas.str.contains("Artificial Intelligence"))) , 1, 0)

#Robotics
research_areas['research_area_Robotics'] = np.where(research_areas.research_areas.str.contains("Robotics"), 1, 0)

#Medicine
research_areas['research_area_Medicine'] = np.where(((research_areas.research_areas.str.contains("Medicine")) |
                                                    (research_areas.research_areas.str.contains("Medical")) |
                                                    (research_areas.research_areas.str.contains("VIROLOGY")) |
                                                    (research_areas.research_areas.str.contains("Oncology"))  |
                                                    (research_areas.research_areas.str.contains("Cardiac")) |
                                                    (research_areas.research_areas.str.contains("Cardiology")) |
                                                    (research_areas.research_areas.str.contains("IMMUNOLOGY")) |
                                                    (research_areas.research_areas.str.contains("Hematology")) |
                                                    (research_areas.research_areas.str.contains("DERMATOLOGY")) |
                                                    (research_areas.research_areas.str.contains("INFECTIOUS DISEASES")) |
                                                    (research_areas.research_areas.str.contains("VASCULAR DISEASE")) |
                                                    (research_areas.research_areas.str.contains("DISEASE")) |
                                                    (research_areas.research_areas.str.contains("RESPIRATORY SYSTEM")) |
                                                    (research_areas.research_areas.str.contains("PEDIATRICS")) |
                                                    (research_areas.research_areas.str.contains("UROLOGY")) |
                                                    (research_areas.research_areas.str.contains("Neurology")) |
                                                    (research_areas.research_areas.str.contains("Nephrology")) |
                                                    (research_areas.research_areas.str.contains("Gastroenterology")) |
                                                    (research_areas.research_areas.str.contains("Angiology")) |
                                                    (research_areas.research_areas.str.contains("Endocrinology"))  |
                                                    (research_areas.research_areas.str.contains("Neonatology"))) , 1, 0)

#Pharmacy
research_areas['research_area_Pharmacy'] = np.where(((research_areas.research_areas.str.contains("Pharmacy")) |
                                                        (research_areas.research_areas.str.contains("PHARMACOLOGY")) |
                                                        (research_areas.research_areas.str.contains("VIROLOGY"))) , 1, 0)

#Psychology
research_areas['research_area_Psychology'] = np.where(research_areas.research_areas.str.contains("Psychology"), 1, 0)

#Social Science
research_areas['research_area_SocialScience'] = np.where(research_areas.research_areas.str.contains("Social Science"), 1, 0)

#ECOLOGY
research_areas['research_area_Ecology'] = np.where(research_areas.research_areas.str.contains("ECOLOGY"), 1, 0)

#Law
research_areas['research_area_Law'] = np.where(research_areas.research_areas.str.contains("Law"), 1, 0)

#STATISTICS & PROBABILITY
research_areas['research_area_Statistics'] = np.where(research_areas.research_areas.str.contains("STATISTICS & PROBABILITY"), 1, 0)

In [18]:
#esclude publication and research_areas column from the database
research_areas = research_areas.loc[:, ~research_areas.columns.isin(['publication', 'research_areas'])]

research_areas = research_areas.groupby(['project_id']).max().reset_index()
research_areas

,project_id,research_area_Biology,research_area_GeoScience,research_area_Physics,research_area_Chemistry,research_area_Astronomy&Astrophysics,research_area_Meteorology,research_area_Neurosciences,research_area_NuclearScience,research_area_EnvironmentalScience,...,research_area_Engineering,research_area_ComputerScience,research_area_Robotics,research_area_Medicine,research_area_Pharmacy,research_area_Psychology,research_area_SocialScience,research_area_Ecology,research_area_Law,research_area_Statistics
0,115797,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,115842,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
2,115843,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
3,115847,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,115848,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12751,101016448,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12752,101016985,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12753,101017171,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12754,101017226,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12755,101023615,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
set = {1}

research_areas['knowledge_diversity'] = research_areas.loc[:, 'research_area_Biology':'research_area_Statistics'].apply(lambda x: x.isin(set).sum(), axis=1)

research_areas = research_areas[['project_id', 'knowledge_diversity',
                               'research_area_Biology', 'research_area_GeoScience', 'research_area_Physics',
                               'research_area_Chemistry', 'research_area_Astronomy&Astrophysics', 'research_area_Meteorology', 
                                'research_area_Neurosciences', 'research_area_NuclearScience', 'research_area_EnvironmentalScience',
                                'research_area_MaterialScience', 'research_area_Mathematics', 'research_area_Economics', 'research_area_Engineering',
                                'research_area_ComputerScience', 'research_area_Robotics', 'research_area_Medicine', 
                                'research_area_Pharmacy', 'research_area_Psychology', 'research_area_SocialScience', 'research_area_Ecology',
                                'research_area_Law', 'research_area_Statistics']]

research_areas

,project_id,knowledge_diversity,research_area_Biology,research_area_GeoScience,research_area_Physics,research_area_Chemistry,research_area_Astronomy&Astrophysics,research_area_Meteorology,research_area_Neurosciences,research_area_NuclearScience,...,research_area_Engineering,research_area_ComputerScience,research_area_Robotics,research_area_Medicine,research_area_Pharmacy,research_area_Psychology,research_area_SocialScience,research_area_Ecology,research_area_Law,research_area_Statistics
0,115797,3,1,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,115842,3,1,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
2,115843,2,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
3,115847,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,115848,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12751,101016448,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12752,101016985,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12753,101017171,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12754,101017226,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12755,101023615,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
#######################################################################################################
#knowledge diversity

In [20]:
knowledge_diversity = H2020BiblioData2[['publication', 'project_id', 'research_areas']]
knowledge_diversity = knowledge_diversity.sort_values(by=['project_id'], ascending=True)
knowledge_diversity

#to count how many agencies per proj-publ, we approximate counting the number of ";" in the string
knowledge_diversity['knowledge_diversity'] = knowledge_diversity.research_areas.str.count(';')
#however, since at the end of each string, ";" is missing, we have to add 1 to count the exact number of agencies
knowledge_diversity['knowledge_diversity'] = knowledge_diversity['knowledge_diversity'] + 1
knowledge_diversity['knowledge_diversity'] = np.where((knowledge_diversity.knowledge_diversity == 0), 1, knowledge_diversity.knowledge_diversity )


knowledge_diversity['knowledge_diversity'] = knowledge_diversity['knowledge_diversity'].astype(int)

knowledge_diversity

,publication,project_id,research_areas,knowledge_diversity
19280,10.1016/j.clim.2018.07.001,115797,IMMUNOLOGY,1
91834,10.1111/pedi.12816,115797,PEDIATRICS; ENDOCRINOLOGY & METABOLISM,2
108578,10.2337/dc16-1625,115797,ENDOCRINOLOGY & METABOLISM,1
108575,10.2337/dbi19-0022,115797,ENDOCRINOLOGY & METABOLISM,1
91833,10.1111/pedi.12711,115797,PEDIATRICS; ENDOCRINOLOGY & METABOLISM,2
...,...,...,...,...
86429,10.1109/PERCOMWORKSHOPS51409.2021.9431063,101017171,"TELECOMMUNICATIONS; COMPUTER SCIENCE, INFORMAT...",4
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,"TELECOMMUNICATIONS; COMPUTER SCIENCE, INFORMAT...",4
82889,10.1109/ACCESS.2021.3051940,101017226,"TELECOMMUNICATIONS; COMPUTER SCIENCE, INFORMAT...",3
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,"TELECOMMUNICATIONS; COMPUTER SCIENCE, INFORMAT...",4
2468,10.1002/anie.202104682,101023615,"CHEMISTRY, MULTIDISCIPLINARY",1

In [21]:
ex = knowledge_diversity.loc[knowledge_diversity.knowledge_diversity == 0]
ex

Empty DataFrame
Columns: [publication, project_id, research_areas, knowledge_diversity]
Index: []

In [22]:
knowledge_diversity_2 = knowledge_diversity.groupby(['project_id'])['knowledge_diversity'].max().reset_index()
knowledge_diversity_2 = knowledge_diversity_2.rename(columns={'knowledge_diversity': 'knowledge_diversity_2'})
knowledge_diversity_2 = knowledge_diversity_2.sort_values(by=['project_id'], ascending=True)
knowledge_diversity_2

       project_id  knowledge_diversity_2
0          115797                      3
1          115842                      2
2          115843                      5
3          115847                      1
4          115848                      1
...           ...                    ...
12751   101016448                      3
12752   101016985                      1
12753   101017171                      4
12754   101017226                      4
12755   101023615                      1

[12756 rows x 2 columns]

In [27]:
#######################################################################################################
#CITATION IMPACT

In [23]:
citations = H2020BiblioData2[['publication', 'project_id', 'times_cited', 'field_expected_citations', 'field_normalized_cit_impact', 'top_1']]

citations = citations.sort_values(by=['project_id'], ascending=True)
citations

,publication,project_id,times_cited,field_expected_citations,field_normalized_cit_impact,top_1
19280,10.1016/j.clim.2018.07.001,115797,4,14.00,0.2857,0
91834,10.1111/pedi.12816,115797,2,6.12,0.3269,0
108578,10.2337/dc16-1625,115797,55,16.58,3.3168,0
108575,10.2337/dbi19-0022,115797,21,4.89,4.2968,0
91833,10.1111/pedi.12711,115797,100,9.03,11.0751,1
...,...,...,...,...,...,...
86429,10.1109/PERCOMWORKSHOPS51409.2021.9431063,101017171,0,0.12,0.0000,0
83702,10.1109/EUCNC/6GSUMMIT51104.2021.9482575,101017226,0,0.12,0.0000,0
82889,10.1109/ACCESS.2021.3051940,101017226,1,1.04,0.9602,0
83697,10.1109/EUCNC/6GSUMMIT51104.2021.9482495,101017226,0,0.12,0.0000,0
2468,10.1002/anie.202104682,101023615,3,1.32,2.2659,0

In [24]:
citations_2 = citations.groupby(['project_id']).agg({'times_cited':'mean', 
                                                    'times_cited':'sum', 
                                                    'field_expected_citations':'mean',
                                                    'field_normalized_cit_impact':'mean',
                                                    'top_1':'mean'}).reset_index()

citations_2

,project_id,times_cited,field_expected_citations,field_normalized_cit_impact,top_1
0,115797,1566,10.087722,2.001676,0.012658
1,115842,103,16.687500,1.774775,0.000000
2,115843,209,15.508462,1.016177,0.000000
3,115847,52,12.495000,1.956900,0.000000
4,115848,23,22.390000,1.027500,0.000000
...,...,...,...,...,...
12751,101016448,0,1.040000,0.000000,0.000000
12752,101016985,0,1.140000,0.000000,0.000000
12753,101017171,0,0.115000,0.000000,0.000000
12754,101017226,1,0.426667,0.320067,0.000000
12755,101023615,3,1.320000,2.265900,0.000000

In [30]:
##############################################################
#progr_proj_id

In [25]:
#select just project_id and progr_proj_id
progr_proj_id = H2020BiblioData2[['project_id', 'progr_proj_id']]
progr_proj_id = progr_proj_id.sort_values(by=['project_id'], ascending=True)
progr_proj_id = progr_proj_id.drop_duplicates()

#clean progr_proj_id from H2020 and remove non-alphanumeric chars 
progr_proj_id['progr_proj_id'] = progr_proj_id['progr_proj_id'].str.replace('H2020', '')
progr_proj_id['progr_proj_id'] = progr_proj_id['progr_proj_id'].str.replace('\W', ' ')

#strip the string on the left and on the right (remove spaces in the beginning and the end of the string)
progr_proj_id['progr_proj_id'] = progr_proj_id['progr_proj_id'].str.lstrip() 
progr_proj_id['progr_proj_id'] = progr_proj_id['progr_proj_id'].str.rstrip()
progr_proj_id

<ipython-input-25-12e3c00333ec>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  progr_proj_id['progr_proj_id'] = progr_proj_id['progr_proj_id'].str.replace('\W', ' ')

        project_id progr_proj_id
19280       115797           SC1
94475       115842           SC1
42285       115843           SC1
101599      115847           SC1
46189       115848           SC1
...            ...           ...
82911    101016448     LEITs ICT
66521    101016985     LEITs ICT
7336     101017171     LEITs ICT
83702    101017226     LEITs ICT
2468     101023615          MSCA

[12756 rows x 2 columns]

In [26]:
i = progr_proj_id.columns.get_loc('progr_proj_id')
xx = progr_proj_id['progr_proj_id'].str.split(" ", expand=True)
xx2 = pd.concat([progr_proj_id.iloc[:, :i], xx, progr_proj_id.iloc[:, i+1:]], axis=1)
xx2 = xx2.rename(columns={0: 'progr_proj_id_1', 1: 'progr_proj_id_2'})
xx2 = xx2[['project_id', 'progr_proj_id_1', 'progr_proj_id_2']]
xx2

        project_id progr_proj_id_1 progr_proj_id_2
19280       115797             SC1            None
94475       115842             SC1            None
42285       115843             SC1            None
101599      115847             SC1            None
46189       115848             SC1            None
...            ...             ...             ...
82911    101016448           LEITs             ICT
66521    101016985           LEITs             ICT
7336     101017171           LEITs             ICT
83702    101017226           LEITs             ICT
2468     101023615            MSCA            None

[12756 rows x 3 columns]

In [27]:
#restructure the dataframe so that each project has a row for each project_id
progr_proj_id_1 = xx2[['project_id', 'progr_proj_id_1']]
progr_proj_id_1 = progr_proj_id_1.rename(columns={'progr_proj_id_1': 'progr_proj_id'})
progr_proj_id_2 = xx2[['project_id', 'progr_proj_id_2']]
progr_proj_id_2 = progr_proj_id_2.rename(columns={'progr_proj_id_2': 'progr_proj_id'})

xx3 = progr_proj_id_1.append(progr_proj_id_2)
xx3 = xx3.drop_duplicates()
xx3 = xx3.sort_values(by=['project_id'], ascending=True)
xx3 = xx3.dropna()

#clean progr_proj_id
xx3 = xx3.loc[(xx3.progr_proj_id != 'Manufacturing') & 
                (xx3.progr_proj_id != 'Space') &
                (xx3.progr_proj_id != 'Materials') &
                (xx3.progr_proj_id != 'Biotech') &
                (xx3.progr_proj_id != 'in') &
                (xx3.progr_proj_id != 'Nano') &
                (xx3.progr_proj_id != 'Innvoation') &
                (xx3.progr_proj_id !=  '0') &
                (xx3.progr_proj_id !=  'SWAFS')]

xx3

<ipython-input-27-c8e6eb5c0a5f>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  xx3 = progr_proj_id_1.append(progr_proj_id_2)

        project_id progr_proj_id
19280       115797           SC1
94475       115842           SC1
42285       115843           SC1
101599      115847           SC1
46189       115848           SC1
...            ...           ...
7336     101017171           ICT
7336     101017171         LEITs
83702    101017226           ICT
83702    101017226         LEITs
2468     101023615          MSCA

[13387 rows x 2 columns]

In [28]:
ex = xx3.loc[xx3.project_id == 'SWAFS']
ex

Empty DataFrame
Columns: [project_id, progr_proj_id]
Index: []

In [29]:
#get dummies for progr_proj_id
dummies_progr_proj_id = pd.get_dummies(xx3, columns=['progr_proj_id'])
dummies_progr_proj_id = dummies_progr_proj_id.groupby(['project_id']).max().reset_index()
dummies_progr_proj_id = dummies_progr_proj_id.sort_values(by=['project_id'], ascending=True)
dummies_progr_proj_id

,project_id,progr_proj_id_ERC,progr_proj_id_FET,progr_proj_id_FTI,progr_proj_id_ICT,progr_proj_id_INFRA,progr_proj_id_LEITs,progr_proj_id_MSCA,progr_proj_id_SC1,progr_proj_id_SC2,progr_proj_id_SC3,progr_proj_id_SC4,progr_proj_id_SC5,progr_proj_id_SC6,progr_proj_id_SC7,progr_proj_id_SEWP
0,115797,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,115842,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,115843,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,115847,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,115848,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12583,101016448,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
12584,101016985,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
12585,101017171,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
12586,101017226,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
12587,101023615,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [ ]:
##############################################################
#SWAFS

In [66]:
#select just project_id and progr_proj_id
yy = H2020BiblioData2[['project_id', 'progr_proj_id', 'programmes_PROJ_ID_01']]

yy['progr_proj_id'] = yy['progr_proj_id'].str.replace('H2020', '')
yy['progr_proj_id'] = yy['progr_proj_id'].str.replace('\W', ' ')

yy['progr_proj_id'] = yy['progr_proj_id'].str.lstrip() 
yy['progr_proj_id'] = yy['progr_proj_id'].str.rstrip()

yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.replace('\W', ' ')
yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.replace("\d+", ' ')

yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.lstrip() 
yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.rstrip()

#SWAFS = yy.loc[(yy.progr_proj_id == "SWAFS") & (yy.programmes_PROJ_ID_01.str.contains('SCIENCE WITH AND FOR SOCIETY'))]

#SWAFS = SWAFS.sort_values(by=['project_id'], ascending=True)
#SWAFS = SWAFS.drop_duplicates()

<ipython-input-66-1c98cbfb582c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yy['progr_proj_id'] = yy['progr_proj_id'].str.replace('H2020', '')
<ipython-input-66-1c98cbfb582c>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  yy['progr_proj_id'] = yy['progr_proj_id'].str.replace('\W', ' ')
<ipython-input-66-1c98cbfb582c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yy['progr_proj_id'] = yy['progr_proj_id'].str.replace('\W', ' ')
<ipython-input-66-1c98cbfb582c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yy['progr_proj_id'] = yy['progr_proj_id'].str.lstrip()
<ipython-input-66-1c98cbfb582c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yy['progr_proj_id'] = yy['progr_proj_id'].str.rstrip()
<ipython-input-66-1c98cbfb582c>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.replace('\W', ' ')
<ipython-input-66-1c98cbfb582c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.replace('\W', ' ')
<ipython-input-66-1c98cbfb582c>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.replace("\d+", ' ')
<ipython-input-66-1c98cbfb582c>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.replace("\d+", ' ')
<ipython-input-66-1c98cbfb582c>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.lstrip()
<ipython-input-66-1c98cbfb582c>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yy['programmes_PROJ_ID_01'] = yy['programmes_PROJ_ID_01'].str.rstrip()

In [67]:
yy

,project_id,progr_proj_id,programmes_PROJ_ID_01
1,633595,SC1,Understanding health wellbeing and disease
3,115854,SC1,Innovative Medicines Initiative IMI
5,726413,ERC,EXCELLENT SCIENCE European Research Council ...
6,648916,ERC,EXCELLENT SCIENCE European Research Council ...
7,668303,SC1,Health care provision and integrated care
...,...,...,...
123112,669240,ERC,EXCELLENT SCIENCE European Research Council ...
123113,669240,ERC,EXCELLENT SCIENCE European Research Council ...
123114,691246,MSCA,Stimulating innovation by means of cross ferti...
123115,669240,ERC,EXCELLENT SCIENCE European Research Council ...
123116,844451,MSCA,Nurturing excellence by means of cross border ...

In [71]:
SWAFS = yy.loc[(yy.progr_proj_id == "SWAFS") & (yy.programmes_PROJ_ID_01 == "SCIENCE WITH AND FOR SOCIETY")]
SWAFS['SWAFS'] = 1
SWAFS = SWAFS[['project_id', 'SWAFS']]
SWAFS = SWAFS.drop_duplicates()
print(len(SWAFS))

52

<ipython-input-71-a12f19fe2193>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SWAFS['SWAFS'] = 1

In [73]:
Euratom = yy.loc[(yy.progr_proj_id == "SWAFS") & (yy.programmes_PROJ_ID_01 == "Euratom")]
Euratom['Euratom'] = 1
Euratom = Euratom[['project_id', 'Euratom']]
Euratom = Euratom.drop_duplicates()
print(len(Euratom))

1

<ipython-input-73-becb23b08b87>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Euratom['Euratom'] = 1

In [74]:
SWAFS_others = yy.loc[(yy.progr_proj_id == "SWAFS") 
                        & (yy.programmes_PROJ_ID_01 != "Euratom")
                        & (yy.programmes_PROJ_ID_01 != "SCIENCE WITH AND FOR SOCIETY")]

SWAFS_others['SWAFS_others'] = 1
SWAFS_others = SWAFS_others[['project_id', 'SWAFS_others']]
SWAFS_others = SWAFS_others.drop_duplicates()
print(len(SWAFS_others))

41

<ipython-input-74-9d461f2f8b36>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SWAFS_others['SWAFS_others'] = 1

In [75]:
##############################################################
#action_type_proj_id

In [76]:
#select just project_id and progr_proj_id
action_type_proj_id = H2020BiblioData2[['project_id', 'action_type_proj_id']]

#strip the string on the left and on the right
action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.lstrip() 
action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.rstrip()

action_type_proj_id = action_type_proj_id.sort_values(by=['project_id'], ascending=True)
action_type_proj_id = action_type_proj_id.drop_duplicates()
action_type_proj_id

<ipython-input-76-ec8f19f91fa5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.lstrip()
<ipython-input-76-ec8f19f91fa5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.rstrip()

        project_id action_type_proj_id
19280       115797        JTI-IMI2-RIA
94475       115842        JTI-IMI2-RIA
42285       115843        JTI-IMI2-RIA
101599      115847        JTI-IMI2-RIA
46189       115848        JTI-IMI2-RIA
...            ...                 ...
82911    101016448                  IA
66521    101016985                 RIA
7336     101017171                 RIA
83702    101017226                 RIA
2468     101023615       MSCA-IF-EF-ST

[12756 rows x 2 columns]

In [37]:
#ex = action_type_proj_id[['action_type_proj_id']]
#ex = ex.drop_duplicates()
#ex = ex.sort_values(by=['action_type_proj_id'])
#ex

In [77]:
action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.replace('MSCA-IF-EF-CAR', 'MSCA-IF-EF') 
action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.replace('MSCA-IF-EF-RI', 'MSCA-IF-EF') 
action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.replace('MSCA-IF-EF-SE', 'MSCA-IF-EF') 
action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.replace('MSCA-IF-EF-ST', 'MSCA-IF-EF') 
action_type_proj_id['action_type_proj_id'] = action_type_proj_id['action_type_proj_id'].str.replace('MSCA-IF-EF-CAR', 'MSCA-IF-EF') 
action_type_proj_id

        project_id action_type_proj_id
19280       115797        JTI-IMI2-RIA
94475       115842        JTI-IMI2-RIA
42285       115843        JTI-IMI2-RIA
101599      115847        JTI-IMI2-RIA
46189       115848        JTI-IMI2-RIA
...            ...                 ...
82911    101016448                  IA
66521    101016985                 RIA
7336     101017171                 RIA
83702    101017226                 RIA
2468     101023615          MSCA-IF-EF

[12756 rows x 2 columns]

In [78]:
xx = action_type_proj_id.loc[(action_type_proj_id.action_type_proj_id == "ERC-ADG") |
                            (action_type_proj_id.action_type_proj_id == "ERC-COG") |
                            (action_type_proj_id.action_type_proj_id == "ERC-POC") |
                            (action_type_proj_id.action_type_proj_id == "ERC-POC-LS") |
                            (action_type_proj_id.action_type_proj_id == "ERC-STG") |
                            (action_type_proj_id.action_type_proj_id == "ERC-SyG") |
                            (action_type_proj_id.action_type_proj_id == "MSCA-IF-EF") |
                            (action_type_proj_id.action_type_proj_id == "MSCA-IF-GF")]

xx

        project_id action_type_proj_id
12656       633152             ERC-STG
122599      633428             ERC-STG
92164       633509             ERC-STG
42048       633818             ERC-STG
29051       633888             ERC-POC
...            ...                 ...
18213       956151          ERC-POC-LS
118182   101003375          MSCA-IF-EF
3796     101003394          MSCA-IF-EF
37059    101003440          MSCA-IF-EF
2468     101023615          MSCA-IF-EF

[7543 rows x 2 columns]

In [79]:
#get dummies for action_type_proj_id
dummies_action_type_proj_id = pd.get_dummies(xx, columns=['action_type_proj_id'])
dummies_action_type_proj_id = dummies_action_type_proj_id.groupby(['project_id']).max().reset_index()
dummies_action_type_proj_id = dummies_action_type_proj_id.sort_values(by=['project_id'], ascending=True)
dummies_action_type_proj_id

,project_id,action_type_proj_id_ERC-ADG,action_type_proj_id_ERC-COG,action_type_proj_id_ERC-POC,action_type_proj_id_ERC-POC-LS,action_type_proj_id_ERC-STG,action_type_proj_id_ERC-SyG,action_type_proj_id_MSCA-IF-EF,action_type_proj_id_MSCA-IF-GF
0,633152,0,0,0,0,1,0,0,0
1,633428,0,0,0,0,1,0,0,0
2,633509,0,0,0,0,1,0,0,0
3,633818,0,0,0,0,1,0,0,0
4,633888,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
7538,956151,0,0,0,1,0,0,0,0
7539,101003375,0,0,0,0,0,0,1,0
7540,101003394,0,0,0,0,0,0,1,0
7541,101003440,0,0,0,0,0,0,1,0
7542,101023615,0,0,0,0,0,0,1,0

In [80]:
dummies_action_type = pd.merge(action_type_proj_id, dummies_action_type_proj_id, how='left', on='project_id')
dummies_action_type = dummies_action_type.fillna(0)

dummies_action_type

,project_id,action_type_proj_id,action_type_proj_id_ERC-ADG,action_type_proj_id_ERC-COG,action_type_proj_id_ERC-POC,action_type_proj_id_ERC-POC-LS,action_type_proj_id_ERC-STG,action_type_proj_id_ERC-SyG,action_type_proj_id_MSCA-IF-EF,action_type_proj_id_MSCA-IF-GF
0,115797,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,115842,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,115843,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,115847,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,115848,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
12751,101016448,IA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12752,101016985,RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12753,101017171,RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12754,101017226,RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12755,101023615,MSCA-IF-EF,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [42]:
#get dummies for action_type_proj_id
#dummies_action_type_proj_id = pd.get_dummies(xx2, columns=['action_type_proj_id'])
#dummies_action_type_proj_id = dummies_action_type_proj_id.groupby(['project_id']).max().reset_index()
#dummies_action_type_proj_id = dummies_action_type_proj_id.sort_values(by=['project_id'], ascending=True)
#dummies_action_type_proj_id

In [43]:
#dummies_action_type_proj_id = dummies_action_type_proj_id[['project_id',
 #                                                           'action_type_proj_id_ERC_ADG',
  #                                                          'action_type_proj_id_ERC_COG',
   #                                                         'action_type_proj_id_ERC_POC',
   #                                                         'action_type_proj_id_ERC_STG',
    #                                                        'action_type_proj_id_ERC_SyG',
     #                                                       'action_type_proj_id_MSCA_COFUND',
      #                                                      'action_type_proj_id_MSCA_IF',
       #                                                     'action_type_proj_id_MSCA_ITN',
        #                                                    'action_type_proj_id_MSCA_RISE']]
#
#dummies_action_type_proj_id

In [44]:
#xx = list(dummies_action_type_proj_id.columns.values)
#print(xx)

In [45]:
#######################################################################################################

In [81]:
data = pd.merge(period, n_publications, how='inner', on='project_id')

data = pd.merge(data, citations_2, how='inner', on='project_id')

data = pd.merge(data, at_least_one_open_access, how='inner', on='project_id')

data = pd.merge(data, at_least_one_fund_agency, how='left', on='project_id')
data = data.fillna(0)

data = pd.merge(data, knowledge_diversity_2, how='left', on='project_id')

data = pd.merge(data, research_areas, how='inner', on='project_id')

data = pd.merge(data, dummies_progr_proj_id, how='left', on='project_id')
data = data.fillna(0)

data = pd.merge(data, SWAFS, how='left', on='project_id')
data = data.fillna(0)

data = pd.merge(data, Euratom, how='left', on='project_id')
data = data.fillna(0)

data = pd.merge(data, SWAFS_others, how='left', on='project_id')
data = data.fillna(0)

data = pd.merge(data, dummies_action_type, how='inner', on='project_id')

data

,project_id,starting_date,ending_date,period_in_days,period_in_months,n_publications,times_cited,field_expected_citations,field_normalized_cit_impact,top_1,...,SWAFS_others,action_type_proj_id,action_type_proj_id_ERC-ADG,action_type_proj_id_ERC-COG,action_type_proj_id_ERC-POC,action_type_proj_id_ERC-POC-LS,action_type_proj_id_ERC-STG,action_type_proj_id_ERC-SyG,action_type_proj_id_MSCA-IF-EF,action_type_proj_id_MSCA-IF-GF
0,115797,2015-11-01,2023-10-31,2921,95,79,1566,10.087722,2.001676,0.012658,...,0.0,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,115842,2015-03-01,2019-02-28,1460,47,4,103,16.687500,1.774775,0.000000,...,0.0,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,115843,2015-02-01,2018-01-31,1095,35,13,209,15.508462,1.016177,0.000000,...,0.0,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,115847,2014-12-01,2020-11-30,2191,71,2,52,12.495000,1.956900,0.000000,...,0.0,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,115848,2015-02-01,2017-04-30,819,26,1,23,22.390000,1.027500,0.000000,...,0.0,JTI-IMI2-RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12751,101016448,2021-01-01,2023-12-31,1094,35,1,0,1.040000,0.000000,0.000000,...,0.0,IA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12752,101016985,2021-01-01,2023-12-31,1094,35,1,0,1.140000,0.000000,0.000000,...,0.0,RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12753,101017171,2021-01-01,2023-12-31,1094,35,4,0,0.115000,0.000000,0.000000,...,0.0,RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12754,101017226,2021-01-01,2023-12-31,1094,35,3,1,0.426667,0.320067,0.000000,...,0.0,RIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12755,101023615,2021-04-01,2023-03-31,729,23,1,3,1.320000,2.265900,0.000000,...,0.0,MSCA-IF-EF,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [82]:
#save file  
data_dir = '/Users/davidebonaglia/Dropbox/Projects UNU/Excellent Science/data_cleaned/'
data.to_excel(data_dir + 'H2020BiblioData_cleaned_2.xlsx', index=False)